@import '../../assets/scss/variable';

.form {
  &-item {
    position: relative;
    &.is-error {
      .form__input {
        border-color: $--color-dangerous;
      }
      .form-item__label-error {
        color: $--color-dangerous;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
      }
      .react-datepicker-wrapper {
        // input[type="text"] {
          border-color: $--color-dangerous;
        // }
      }
    }
  }
}