.card-box-sub {
    padding-top: 25px;
    height: auto;
}
.wrap-flex-center{
    display: flex;
    justify-content: center;
}
.card-level-sub {
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}