@import '../../../assets/scss/variable';
@import '../../../assets/scss/breakpoints';

.sponser-1 {
    position: relative;
    padding-top: 0px;
    padding-bottom: 70px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        + .sponser__item {
            margin-top: 40px;
        }

        @include media-breakpoint('lt-tb') {
            flex-wrap: wrap;
        }

        &__text {
            font-size: 30px;
            font-weight: bold;
            padding-left: 96px;
            position: relative;
            line-height: 64px;

            .icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 64px;
                height: 64px;
            }
        }

        &__content {
            width: 750px;
            display: flex;

            @include media-breakpoint('lt-tb') {
                margin-top: 15px;
                width: 100%;
            }

            @include media-breakpoint('xs') {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__logo {
            text-align: center;
            width: 240px;
            padding: 40px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07);

            + .sponser__item__logo {
                margin-left: 15px;

                @include media-breakpoint('xs') {
                    margin-left: 0;
                    margin-top: 15px;
                }

            }

            img {
                height: 76px;
                object-fit: contain;
                width: 100%;
            }

            @include media-breakpoint('sm') {
                width: calc((100% - 30px) / 3);
            }
        }

        .text {
            font-weight: bold;
            font-size: $--font-size-base;
        }
    }
}

.register-exam-1 {
    overflow: hidden;

    background: {
        image: url('../../../assets/img/register_exam_bg_container.png');
        size: cover;
    }

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-top: 0px;
    border-radius: 10px;

    @include media-breakpoint('xs') {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__title {
        font-size: 45px;
        font-weight: bold;
        color: #ffffff;

        @include media-breakpoint('xs') {
            font-size: 36px;
        }
    }

    &__desc {
        color: #ffffff;
        font-size: $--font-size-medium;
        margin-bottom: 32px;
    }

    &__list {
        &__item {
            font-size: 22px;
            line-height: 24px;
            position: relative;
            padding-left: 32px;
            color: #ebc05a;

            + .register-exam__list__item {
                margin-top: 28px;
            }

            .icon {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: linear-gradient(to left, rgb(253, 139, 37) 0%, rgb(225, 92, 43) 100%);
        font-size: 45px;
        line-height: 45px;
        color: #ffffff;
        border-radius: 45px;
        padding: 20px 44px;

        @include media-breakpoint('xs') {
            position: relative;
            transform: none;
            font-size: 32px;
            display: block;
            margin: 24px auto;
        }
    }

    img {
        width: 100%;
        max-width: 380px;
        object-fit: cover;
    }
}