.item__level_toiec {
    .card-box-sub {
        padding-top: 25px;
        height: auto;
    }
    .card-level-sub {
        padding-bottom: 0px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}