@import './assets//scss/variable';
@import './assets//scss/grid';
@import './assets//scss//breakpoints';

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: 'Nunito Sans', sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  outline: none;
}

.btn {
  font-family: 'Nunito Sans', sans-serif;
  &--primary {
    font-weight: bold;
    font-size: $--font-size-base;
    background-color: $--color-primary;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
    &:hover {
      background-color: rgba($--color-primary, .816);
    }
  }
  &--uppercase {
    text-transform: uppercase;
  }
}